<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>This is the index for ladderminton</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
	<nav style="position:fixed;width:100%;height:80px;border-bottom:1px solid;border-color:rgba(0,0,0,0.2); z-index:2;">
		<div style="float:left;height:60px;width:60px; margin-left:10%;">
			<a href="" >
				<span id="logo" style="background-image:url(ipplogo_black.png);float:left;display:block;height:60px;width:60px;background-size:60px;margin-left:50px;margin-top:10px;background-repeat:no-repeat;"></span>
				<p id="header" style="color:white; position:absolute; margin-left:120px; margin-top:18px; font-weight:500; font-size:14px; font-family:Microsoft YaHei;">LandderMitton<br/>羽梯在线对战系统</p>
			</a>
		</div>
		<ul style="float:right; margin-right:15%;">
			<li><a href="#">GUIDE</a></li>
			<li><a href="#">HISTORY</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">REGISTER</a></li>
			<li><a href="#">LOGIN</a></li>
		</ul>
	</nav>
	<div style="width:100%;min-width:1500px;height:600px;background-image:url(navbg.jpg);background-repeat:no-repeat;background-size:cover;">
		<div style="padding-top:200px; padding-left:15%; color:white; font-size:30px; font-weight:900;">We build this world for you to</div>
		<div style="padding-left:15%; color:white; font-size:150px; font-weight:900;">PLAY</div>
		<div style="margin-left:15%;margin-top:20px;">
			<a class="button1"href="" style ="margin-left:0px; font-size:15px; diaplay:block; position:absolute; border:1px solid; padding:15px 60px; font-weight:900;">Login Now!</a>
			<a class="button1" href="" style ="margin-left:212px; font-size:15px; diaplay:block; position:absolute; border:1px solid; padding:15px 60px; font-weight:900;">Watch Game!</a>
		</div>
	</div>
	<div style="height:400px;background-color:#fbe889;">
		<div style="border-top:50px solid #8bc9de;border-right:50px solid transparent;border-left:50px solid transparent;display:inline-block;margin-left:20%;position:absolute;"></div>
		<div style="color:white; position:absolute; padding-top:8px; font-size:40px; padding-left:30%">GUIDE</div>
		<img src="guide.png" style="margin-top:50px; height:320px; margin-left:15%;">
	</div>
	<div style="background-color:white; height:250px;"></div>
	<div style="background-color:#f1f1f1;padding-bottom:50px;">
		<div style="margin:0 15%;width:80%;">
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
			<div class="activity">
				<img src="test.jpg">
				<footer>this is the foot</footer>
			</div>
		</div>
	</div>
	<div style="background-color:black;height:100px;">
		<p style="color:white; font-size:15px; margin-left:3%; padding-top:22px; margin-bottom:12px;">Powered by Bangkura</p>
		<p style="color:white; font-size:12px; margin-left:3%;">CopyRight 2013-2015</p>
	</div>
</body>
</html>